.type-icon {
    display: inline-block;
    width: 66px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 2px solid black;
    border-radius: 4px;
    color: #fff;
    font-size: .75rem;
    font-weight: normal;
    line-height: 1.5rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .7);
    text-transform: uppercase;
}


/* Bug */

.type-bug {
    background-color: #a8b820;
}


/* Dark */

.type-dark {
    background-color: #705848;
}


/* Dragon */

.type-dragon {
    background-color: #7038F8;
}


/* Electric */

.type-electric {
    background-color: #F8D030;
}


/* Fairy */

.type-fairy {
    background-color: #EE99AC;
}


/* Fighting */

.type-fighting {
    background-color: #C03028;
}


/* Fire */

.type-fire {
    background-color: #F08030;
}


/* Flying */

.type-flying {
    background-color: #A890F0;
}


/* Ghost */

.type-ghost {
    background-color: #705898;
}


/* Grass */

.type-grass {
    background-color: #78C850;
}


/* Ground */

.type-ground {
    background-color: #E0C068;
}


/* Ice */

.type-ice {
    background-color: #51C4E7;
}


/* Normal */

.type-normal {
    background-color: #A8A878;
}


/* Poison */

.type-poison {
    background-color: #A040A0;
}


/* Psychic */

.type-psychic {
    background-color: #F85888;
}


/* Rock */

.type-rock {
    background-color: #B8A038;
}


/* Steel */

.type-steel {
    background-color: #B8B8D0;
}